<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Create Account</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-close-outline" ng-click="closeSignUp()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSignUp()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="signUpData.first_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="signUpData.last_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="signUpData.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Verify Email</span>
                    <input type="email" ng-model="signUpData.confirm_email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="signUpData.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Verify Password</span>
                    <input type="password" ng-model="signUpData.confirm_password">
                </label>
                <label class="item">
                    <button class="button button-block button-calm" type="submit">Sign Up</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>